atomicwrites==1.4.0
attrs==20.3.0
cliff==3.7.0
cmd2==1.5.0
colorama==0.4.4
iniconfig==1.1.1
mock==4.0.3
packaging==20.9
pbr==5.5.1
pluggy==0.13.1
prettytable==2.0.0
py==1.10.0
pyparsing==2.4.7
pyperclip==1.8.1
pyreadline3==3.3
pytest==6.2.2
PyYAML==5.4.1
stevedore==3.3.0
toml==0.10.2
wcwidth==0.2.5
